body {
    background-image: url(https://raw.githubusercontent.com/joleel3389/sep10-mcdonalds-cyoa-project/refs/heads/main/mcdonaldsbg.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
